.cursor-pointer {
  cursor: pointer;
}

.home {
  background: #e7e7e7;
}

.icon {
  content: '\EA27';
}

.line-through {
  text-decoration: line-through;
}

/* END MENU STYLES */

/* DESK STYLES */
@media all and (min-width: 1025px) {
  .cursor-pointer {
    cursor: pointer;
  }

  .home {
    min-height: 76.3vh;
  }

}