.cursor-pointer {
  cursor: pointer;
}

.home {
  background: #e7e7e7;
}

.icon {
  content: '\EA27';
}

.line-through {
  text-decoration: line-through;
}
.text-meli {
  color: #fff159;
}
.loader-box {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-align: center;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  width:100%;
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}
/* END MENU STYLES */

/* DESK STYLES */
@media all and (min-width: 1025px) {
  .cursor-pointer {
    cursor: pointer;
  }

  .home {
    min-height: 76.3vh;
  }

}