.ofertas-meli {
    height: 140px;
}

.offers-list {
    min-height: 100%;
    height: 140px;
}

.offers-box {
    background-color: #fff;
    overflow: hidden;
    min-height: 100%;
}

.offer-button {
    border: 4px solid transparent;
    outline: none;
    background: none;
    display: flex;
    height: 140px;
    min-height: 100%;
    flex-direction: column;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

.offer-button img {
    transition: ease-in-out .5s;
}

.active {
    border-bottom: 4px solid #3483fa !important;
    border-radius: 0 0 4px 4px;
}

.offer-button:hover {
    border-bottom: 4px solid #3483fa !important;
    border-radius: 0 0 4px 4px;
}

.offer-button:hover img {
    animation: Icon-grayscale .7s linear;
    transition: ease-in-out .5s;
    filter: blur(0);
    transform: scale(1.1);
}

.offers-icon {
    height: 28px;
    margin-bottom: 6px;
    width: auto;
}

@keyframes Icon-grayscale {
    0% {
        filter: grayscale(0) blur(0);
        transform: scale(1);
    }

    50% {
        filter: grayscale(50) blur(1px);
        transform: scale(1.15);
    }

    100% {
        filter: grayscale(0) blur(0);
        transform: scale(1.1);
    }
}

@media all and (min-width: 681px) {
    .offers-h {
        font-size: 2em;
    }

    .offers-p {
        font-size: 1em;
        margin: 0;
    }

    .offers-icon {
        height: 48px;
        margin-bottom: 12px;
        width: auto;
    }
}