.product {
    background: #fff;
    border: 0;
    border-radius: 4px 4px 0 0;
    height: auto;
    margin: 0 8px 16px;
    max-width: 1184px;
    padding: 0;
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    width: 100%;
}
.product:hover{
    border: 0;
    border-radius: 4px 4px 0 0;
    -webkit-transition: box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
    box-shadow:0 0 1px 1px rgba(0,0,0,.07),0 10px 15px 0 rgba(0,0,0,.1)
}

.product .product-link {
    height: 100%;
    width: 100%;
}

.product-box {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    -webkit-justify-content: start;
    justify-content: start;
    padding: 2px;
    text-align: center;
    vertical-align: top;
    width: 100%;
}
.box {
    height: 50%;
    width:100%;
}

.product-img {
    width:100%;
    height: 100%;
    max-height: fit-content;
}

.smaller {
    font-size:.85em;
    text-align: left;
    color:#a8a8a8;
}
.price {
    font-size:1.5em;
    color:black;
}
.discount-price {
    font-size: .85em;
    padding:.75em;
    color: #00a650;
}
.offer-of-the-day {
    width:120px;
}
.offer-of-the-day p {
    background-color: #3483fa;
    padding: 0;
    color:white;
    border: 0;
    border-radius: 4px;
    font-size: .6em;
    margin-bottom: 6px;
}

@media all and (min-width: 681px) {

    .product {
        width: 244px;
        height: 512px;
    }

    .product-box {
        border: 0;
        border-radius: 4px 4px 0 0;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        padding: 0;
        -webkit-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        width: 100%;
    }

    .box img {
        border-radius: 4px 4px 0 0;
        width: 100%;
        height: 100%;
        max-width: 1184px;
        max-height: max-content;
    }
}